$breakpoint_phone: 425px;
$breakpoint_tablet_min: 426px;
$breakpoint_tablet_max: 1023px;
$breakpoint_pc: 1024px;

@mixin phone() {
  @media (max-width: $breakpoint_phone) {
    @content;
  }
}

@mixin tablet() {
  @media (max-width: $breakpoint_tablet_max) {
    @content;
  }
}

@mixin pc() {
  @media (min-width: $breakpoint_pc) {
    @content;
  }
}
